environment:
  matrix:
    - nodejs_version: '6'
    - nodejs_version: '8'
install:
  - ps: Install-Product node $env:nodejs_version
  - npm run yarn
matrix:
  fast_finish: true
build: off
shallow_clone: true
test_script:
  - node --version
  - npm run test
cache:
  - "%LOCALAPPDATA%\\Yarn"
